<h2>Log In</h2>

<%= simple_form_for :newuser, url:users_path do |x| %>
<%= x.label :username %>
<%= x.text_field :title%>
<br>
<br>
<%= x.label :name %>
<%= x.text_field :text%>
<br><br>

<%= x.label :email %>
<%= x.text_field :text%>
<br><br>

<%= x.label :password %>
<%= x.password_field :string%>
<br><br>

<%= x.submit  "Save" %>
</div>
<% end %>
<br>
<%= link_to 'Blog', users_path %> | <%= link_to 'Home Page'%>